@import '@/styles/variables';

.lab-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

  h2.pixel-title {
    color: #fff;
    font-family: $font-pixel;
    margin: 0;
    text-shadow: 2px 2px 0 #000;
  }

  .lab-subtitle {
    color: $color-text-muted;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-family: $font-main;
  }
}
