@import 'variables';
@import 'animations';

// Reset & Global Styles
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: $font-main;
  background-color: #000; // 外部背景全黑 (影院模式)
  color: $color-text-main;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; // 防止出现双滚动条
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $color-bg-dark; 
}
 
::-webkit-scrollbar-thumb {
  background: $color-accent; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($color-accent, 10%); 
}
