.rpg-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  
  &.size-sm { font-size: 0.8rem; }
  &.size-md { font-size: 1.2rem; }
  &.size-lg { font-size: 2rem; }
}
